h3 {
	margin-left: 15px;
}
.navbar {
	background: #3F51B5;
	border-radius: 0px;
}
.navbar-brand {
	color: #eee !important;
}
.navbar-brand:hover {
	color: #aaa !important;
}
body {
	background: #ddd;
}