.navbar {
	background: #3F51B5;
	border-radius: 0px;
	margin-bottom: 0px !important;
}
.navbar-brand {
	color: #eee !important;
}
.navbar-brand:hover {
	color: #aaa !important;
}

/*.jumbotron {
	margin: 10px auto;
	margin-left: 10px;
	margin-right: 10px;
	padding: 10px;
	padding-top: 40px;
	background: #f4f4f4;
	padding-bottom: 40px;
	box-shadow: 2px 2px 2px #888;
	border-radius: 4px;
}*/

h3 {
	padding-top: 10px;
	padding-bottom: 15px;
}

.list-group {
	max-width: 500px;
}

.content {
	margin-left: 15px;
}

body {
	background: #ddd;
}